<app-go-home [title]="'List'"></app-go-home>
<div class="container">
   <mat-list>
      <mat-list-item>
         <div mat-line class="row">
            <mat-form-field class="example-chip-list" style="width: 100%">
               <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip *ngFor="let filter of filters | keyvalue" [selectable]="true" [removable]="true"
                     (removed)="remove(filter)">
                     {{filter.key}}: {{filter.value}}
                     <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="filter" [matChipInputFor]="chipList" readonly>
               </mat-chip-list>
            </mat-form-field>
         </div>
         <mat-action-list>
            <button mat-icon-button (click)="openFilters()">
               <mat-icon mat-list-icon>filter_list</mat-icon>
            </button>
         </mat-action-list>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let folder of genericOrchestratorList | slice: pageIndex * pageSize : ((pageIndex * pageSize) + pageSize)">
         <div mat-line class="row">
            <div class="col-sm-12">ApplicationName: </div>
         </div>
         <div mat-line class="row">
            <div class="col-sm-12">{{folder.templateCode}}</div>
         </div>
         <div mat-line class="row">
            <div class="col-sm-12">&nbsp;</div>
         </div>
         <mat-action-list>
            <button mat-icon-button (click)="goDetail(folder.templateCode)">
               <mat-icon mat-list-icon>list</mat-icon>
            </button>
            <button mat-icon-button (click)="goEdit(folder.templateCode)">
               <mat-icon mat-list-icon>edit</mat-icon>
            </button>
         </mat-action-list>
         <mat-divider></mat-divider>
      </mat-list-item>
   </mat-list>
   <mat-paginator [length]="genericOrchestratorList.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="getPaginatorData($event)">
   </mat-paginator>
</div>
