<form>
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <mat-form-field class="example-chip-list" style="width: 100%">
               <mat-label>Template Code</mat-label>
               <input type="text" matInput [(ngModel)]="data.codeTmp" name="codeTmp" />
               <button mat-button *ngIf="data.codeTmp" matSuffix mat-icon-button aria-label="Clear"
                  (click)="data.codeTmp=0">
                  <mat-icon>close</mat-icon>
               </button>
            </mat-form-field>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <mat-form-field class="example-chip-list" style="width: 100%">
               <mat-label>Internal URL Contains</mat-label>
               <input type="text" matInput [(ngModel)]="data.internalUrl" name="internalUrl" />
               <button mat-button *ngIf="data.internalUrl" matSuffix mat-icon-button aria-label="Clear"
                  (click)="data.internalUrl=''">
                  <mat-icon>close</mat-icon>
               </button>
            </mat-form-field>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <mat-form-field>
               <mat-label>Method</mat-label>
               <mat-select [(ngModel)]="data.method" name="method">
                  <mat-option>Clear</mat-option>
                  <mat-option value="GET">GET</mat-option>
                  <mat-option value="POST">POST</mat-option>
                  <mat-option value="PUT">PUT</mat-option>
                  <mat-option value="PATCH" >PATCH</mat-option>
                  <mat-option value="DELETE">DELETE</mat-option>
               </mat-select>
            </mat-form-field>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-6">
            <mat-checkbox [(ngModel)]="data.oldVersionMs" name="oldVersionMs">Old Version</mat-checkbox>
         </div>
         <div class="col-sm-6">
            <mat-checkbox [(ngModel)]="data.isFluxoXml" name="isFluxoXml">Fluxo XML</mat-checkbox>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12" style="text-align: right;">
            <button mat-raised-button color="primary" [mat-dialog-close]="data">Confirm</button>
         </div>
      </div>
   </div>
</form>